@charset "UTF-8";

/*petImg margin, fa-exclamation-circle(댓글 신고) 인라인태그*/
   .container{
		width:1100px;
		position:relative;
		top:80px;
	}
    #thumbs { 
    	text-align:center;
    	font-size:15px;
        padding-top: 10px; 
        overflow: hidden; 
    }
    #thumbs img, #largeImage {
    cursor: pointer;
    width: 500px;
    height: 400px;
    }
    #thumbs img {
    float: left;
    margin-right: 6px;
    width:120px;
    height: 120px;
    }
    #description {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    margin: 5px;
    }
    #panel {
        position: relative;
    }
    #gallary{
        float: left;
        width: 300px;

    }
    .content{
        text-align: left;
    }
    #writer-img{
        width: 60px;
        height: 60px;
    }
    #user-img{
        width: 50px;
        height: 50px;
    }
    .content{
        border: none;
        
    }
/*     #comment{ */
/* 		height: 590px; */
/* 		overflow: hidden; */
/* 		overflow: scroll; */
/* 		overflow: auto; */
/*     } */

    /*swiper*/

	#title{
		text-align: center;
	}
    .comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
    }

    .comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
    }

    #writer-pic{
        width:60px;
        height: 60px;
    }
    #user-pic{
        width:45px;
        height:45px;
    }
    .photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
    }
    .photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
    }

    .comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    .comment-block textarea {
    width: 100%;
    resize: none;
    }

    .comment-text {
    margin-bottom: 1.25rem;
    }

    .bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
    }

    .comment-date {
    float: left;
    }

    .comment-actions {
    float: right;
    }
    .comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
    }
    .comment-actions li.registration{
    color : 1px solid gray;
    }
    .comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
    }
    .comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
    }
    .comment-actions li:hover {
    color: #0095ff;
    }
    .active{
    	color: #a56e50;
    }
    .comActive{
		color: blue;
		transition:.5s;
	}
    /*pet 정보*/
    .pet{
    margin-left: 10%; text-align: center;
    }
    .information{
     text-align: center;
    
    }
    .view{
    	margin-left: 2%;
    }
    .fa-clock{
    	margin-left: 2%;
    }
    /*사용자 프로필 이미지*/
    .petImg{
    width:80px;height:80px;
    }
    .petImg:hover{
    width:90px;height:90px;transition:.3s;
    }
    
    /*글쓴이 닉네임*/
	.writerNick{
		font-weight:bolder;
		font-size: 30px;
	}
	/*글 삭제,수정*/
	#updateDel{
		float:right;
	}
	#deleteGall{
	font-size:20px;cursor:pointer;
	}
	#updateGall{
	font-size:20px;cursor:pointer;
	}
	/*글 추천수*/
	#galleryRecomHeart{
	color:red;
	}
	#galleryRecomHeart:hover{
	
	font-size: 25px;
	transition:.6s;
	}
	/*조회수*/
	.view{
	margin-left:10px;
	}
	/*글 작성 시간*/
	.fa-clock{
	text-align: center;
	}
	/*글 신고*/
	#galleryReport{
		margin-left: 80%;cursor:pointer;
	}
	/*글 제목*/
	#title{
	font-size:40px;
	}
	
	/*글 추천*/
	.like{
		cursor:pointer;
	}
	.dislike{
	margin-left:20px;cursor:pointer;
	}
	.like:hover{
		font-size: 50px; color:#8b787a; transition:.5s;
	}
	.dislike:hover{
		font-size: 50px; color:#8b787a; transition:.5s;
	}
	/*댓글 수*/
	.fa-comments{
		margin-left: 5%; font-size: 20px;
	}
	/*목록*/
	.list{
		float:right;
		cursor: pointer;
	}
	
	/****************댓글목록********************/
	.commenter{
		width:150px;
	}
	/*댓글 사용자 사진*/
	.commenterImg{
	width:45px;height:45px;
	}
	/*댓글 추천*/
	.recommendForm{
		text-align: right;
	}
	.com-like{
	background:none; border:none; color:black;cursor:pointer;
	}
	.fa-thumbs-up{
	font-size:25px;
	}
	/*댓글 비추*/
	.com-dislike{
	background:none; border:none;color:black; margin-left:5%;cursor:pointer;
	}
	.fa-thumbs-down{
	font-size:25px;
	}
	
	/*댓글 추천카운트*/
	.comheartform{
		text-align: right;
	}
	.comheart{
		margin-left: 2%;color:red;
	}
	
	/*댓글 수정*/

	.btnForm{
		text-align: right;
	}
	#textcom{
		border: gray;
		background: #f4e8e6;
	}
/* 	.dis{ */
/* 		visibility: hidden; */
/* 	} */
	#cancelupdatecom{
	cursor:pointer;
	}
	#submitupdatecom{
	cursor:pointer;
	}
	
	.fa-exclamation-circle{
		margin-left: 10px;
	}
