    #thumbs { 
        padding-top: 10px; 
        overflow: hidden; 
    }
    #thumbs img, #largeImage {
    cursor: pointer;
    width: 500px;
    height: 400px;
    }
    #thumbs img {
    float: left;
    margin-right: 6px;
    width:120px;
    height: 120px;
    }
    #description {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    margin: 5px;
    }
    #panel {
        position: relative;
    }
    #gallary{
        float: left;
        width: 300px;

    }
    .content{
        text-align: left;
    }
    #writer-img{
        width: 60px;
        height: 60px;
    }
    #user-img{
        width: 50px;
        height: 50px;
    }
    .content{
        border: none;
        
    }
    .col-sm-5{
		height: 590px;
		overflow: hidden;
		overflow: scroll;
		overflow: auto;
    }

    textarea{
      border-top: none;
      border-left: none;
      border-right: none;
    }
    .btn-group{
      float: right;
    }
    /*swiper*/
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 400px;
      width: 600px;
    }
    .gallery-thumbs {
      height: 25%;
      width: 600px;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
    .top-img{
        width: 600px;
        height: 400px;
    }
    .thumbs-img{
        width:150px;
        height: 100px;
    }
    .fa-plus{
    width:50px;height:50px;text-align: center;
    }
    .petImg{
    width:60px;height:60px;
    }
    .writerNick{
    	font-weight:bolder
    }