@charset "UTF-8";

    .container{
	    width:1100px;
       	margin-left: auto;
       	margin-right: auto;
    }
    .notes-wrapper .saver-wrap {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

*, *:before, *:after, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
*:focus, *:before:focus, *:after:focus, h2:focus, p:focus {
  outline: none;
}


.notes-wrapper .saver-wrap {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}
.notes-wrapper .saver-wrap .notes-dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transition: .1s ease-in-out;
}
.notes-wrapper .saver-wrap .notes-dot.saved {
  transition: .1s ease-in-out;
  transition-delay: 2.10s;
}
.notes-wrapper .saver-wrap .rest {
  -webkit-transform: scale(0);
          transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  width: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
}
.notes-wrapper .saver-wrap .rest.active {
  -webkit-animation: animate 1.05s linear 2;
          animation: animate 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest.active:after {
  -webkit-animation: animate2 1.05s linear 2;
          animation: animate2 1.05s linear 2;
}
.notes-wrapper .saver-wrap .rest:after {
  -webkit-transform: scale(0);
          transform: scale(0);
  clip: rect(0, 30px, 30px, 15px);
  content: '';
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
}
.notes-wrapper .writer {
  padding: 25px 30px;
  padding-right: 60px;
  font-weight: 600;
/*   color: #000C2F; */
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
.notes-wrapper .title {
  padding: 25px 30px;
  padding-right: 60px;
  font-weight: 600;
/*   color: #000C2F; */
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
.notes-wrapper .content {
  padding: 10px 30px;
  padding-bottom: 15px;
  font-weight: 400;
/*   color: #666D82; */
  line-height: 1.4;
  font-size: 14px;
  
}
.notes-wrapper .content span.bold {
  font-weight: 700;
}
.notes-wrapper .content img {
  width: 90%;
  border-radius: 5px;
  margin: 15px 5%;
}
.notes-wrapper .comment {
/*   height: 60px; */
  line-height: 60px;
  text-align: left;
  font-size: 13px;
  position: relative;
}
.comment{
	style='width:400px;height:auto;font-size:20px;font-style:italic;'
}
.notes-wrapper .getImg {
  width: 60px;
  height: 60px;
  /* position: left; */
  /* position: absolute; */
  bottom: 0;
  /* right: -15px; */
  text-align: center;
  cursor: pointer;
}
.notes-wrapper {
  line-height: 60px;
  color:black;
  font-size: 30px;
  text-align: left;
}

.listnsub {
  max-width: 800px;
  width: 100%;
  text-align: center;
  
  height: auto;
/*   background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* position: relative; */
  z-index: 999;
  font-size: 25px;
}
.rounded-circle{
    width: 50px;
    height: 50px;
}


@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes animate2 {
  0% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    box-shadow: inset #D1D3D6 0 0 0 2px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

/*Comment*/
/* html, body { */
/* /*   background-color: #f0f2fa; */ */
/*   font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; */
/*   color: #555f77; */
/*   -webkit-font-smoothing: antialiased; */
/* } */

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.registration{
  color : 1px solid gray;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}

/*댓글 제출*/
/* .commentSubmit:hover{ */
/* 	background:gray; */
/* 	color: white; */
/* 	transition: .5s; */
/* } */

#deleteCommentBtn:hover{
	background: gray;
	color:white;
	transition: .5s;
}
#comment::-webkit-scrollbar{
	display: none;
	}
	

<!-- 좋아요 -->
.rating {
  text-align: center;
}

.like,
.dislike {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
/*   color: gray; */
}

.dislike:hover,
.like:hover {
  color:blue;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: blue;
}

.comActive{
	color: blue;
	transition:.5s;
}
<!--신고-->

.report{
}
.report:hover{
	color:red;
}
.rounded-circle{
	width:60px;
	height:60px;
}

#delete-update{
	text-align: right;
	padding-right: 30px;
}

#delete-update > span > a {
	width: 100px;
}
.grow{
	font-size: 10px;
}

/*category, information안에 카테고리들 안에 id="category" 박아주자*/
#category{
	margin-left:5%;
}
/*qna에서 게시글 category,regDate*/
.category{
	margin-left:5%;
}
.fa-clock{
	margin-left:5%;
}
/*게시글 추천 수 */
#tipRecomHeart{
	margin-left: 5%;color:red;
}
/*글정보*/
.information{
	font-size: 20px;
}
.fa-eye,.fa-cloc{
	margin-left: 5%;
}
/*게시글 신고*/
.report{
	text-align: right;font-size: 15px; padding-right: 30px;cursor:pointer;
}
#tipReport{
cursor:pointer;
}
/*댓글 목록*/
.comment-list{
	text-align: left;
}
/*게시글 추천*/
.rating{
	font-size:30px;
	text-align: center;
}
/*댓글 입력*/
.comment-block{
	-ms-overflow-style: none;
}
.commentSubmit{
	float: right; cursor: pointer;	
}

/*댓글 추천*/
.fa-thumbs-down{
	font-size:25px !important;
}
.fa-thumbs-up{
	font-size:25px;
}
.comment-content{
	width:400px;height:auto;font-size:20px;
}
.com-like, .com-dislike{
	background:none;border:none;color:black;cursor:pointer;
}
.com-like{
	margin-left:65%;
}
.com-dislike{
	margin-left:5%;
}
.fa-heart{
	margin-left: 5%;color:red;
}

/*댓글 목록*/
.fa-comments{
	margin-left: 5%; font-size: 20px;
}
/*댓글 수정, 삭제*/
.updateCommentBtn{
	background:none;border:none;color:black;cursor:pointer;
}
.deleteCommentBtn{
	background:none;border:none;color:black;cursor:pointer;margin-right:20%;
}
/*댓글수정 FORM id="updateCommentForm"*/
#updateCommentForm{
	border: gray;
}
.cancelupdatecom{
	cursor:pointer;
	border:none;
	background: none;
	color:black;
}
.submitupdatecom{
	cursor:pointer;
	border:none;
	background: none;
	color:black;
	margin-left:10%;
}
.com-nickname{
	font-size:15px;
	margin-left:10px;
}
.border{
	font-weight: bolder;
	font-size:15px;
	border:none;
}
/* .commentBtn{ */
/* 		background:none;border:none;color:black;cursor:pointer; */
	
/* } */
