@charset "UTF-8";
/*.totalCount, mb-3(검색분류), 게시판 목록 열.. 인라인적용*/

		/*topList*/
		.topRow{
			background: #f5e9c3;
		}
		.fa-heart{
			color:red;
		}
		
		
        /*category*/
        @import "compass/css3";
        .container{
        	width:1100px;
        	margin-left: auto;
        	margin-right: auto;
        }
        select[disabled]{
        color:#aaa;
        }
        h1{color:#563d7c;}

        /*search*/
        .mb-3{
            margin-left: 65%;
        }
        .dropdown-toggle{
            background: none;
        }
        .dropdown-toggle:hover{
            opacity: 0.8;
            /* color:white; */
        }
        /*검색입력창*/
        .input-search{
            border:none;
            width: 18%;
            color: saddlebrown;
        }
        /*검색버튼*/
        .btn-outline{
            background: none;
            border:none;
        }
        .btn-outline:hover{
            border:none;
            opacity: 0.8;
        }
        
        /*writeBtn*/
        .btn-light:hover{
            background: black;
            color: white;
            transition: .5s;
        }
        .write-btn{
        	width:100px;
        	height: 50px;
        }
        
        /*table*/
        tr:hover{
            background: #dee2e6;
            opacity: 0.8;
        }
        .no{
            width:10%;
        }
        .writer{
            width:15%;
        }
        .reg_date{
            width:15%;
        }
        .view_cnt{
            width:15%;
        }
        /*pagenation*/
   		#pagination{
   			vertical-align: middle;
   		}
	.totalCount{
		text-align: right;
	}
	.fa-heart{
		color:red;
	}
	.writeBtn{
	text-align: right;
	}
