.container > h2 { margin-top: 1.2em; }

.member__span--mod-yes {
	float: right;
}

.member__span--mod-show {
	float: right;
}

.member-mod.member--img-hide {
	display: none;
}

#profile { min-width: 293px; height: 183px; }
#passBtn { float: right; }
.float--right { float: right; }
.basics {
    margin-right : auto;
    margin-left : auto;
}

table td, table th {
	vertical-align: middle !important;
}

.form-control {
    width: 150px;
}

.form-control.member-mod, .form-control.span__pass {
	width: 76%;
	float: left;	
}

.form-control.form__input--mod {
	border: 0px;
	background: #fff !important;
	padding-left: 0px;
}

.hos--list {
    margin-top: 10px;
    border-radius: 3px;
    background: #11BbCc22;
}

.hos--list > ul {
    list-style: none;
    padding: 4px 8px;
    min-height: 270px;
}

.hos--list > ul > li {
    border-bottom: 1px dotted skyblue;
    padding: 10px 0px;
    padding-left: 20px;
}

.hos--list > ul > li.active {
    background: #00000088;
    color: #fff;
}

.height200 {
	height: 200px;
}

.career--edit {
	width: 90%;
	border: 1px solid #4d90fe;
}

#tools {
    margin-left: 50px;
}

.imgTd {
    width: 170px;
}

a {
	text-decoration: none !important;
	color: white;
}

.update-delete {
	text-align: right;
	margin-top: 50px;
}

.career {
	text-align: right;
}

#top-menu {
	height: 50px;
}

.pet-info {
	width: 200px;
	height: 160px;
	border: 1px solid black;
	float: left;
	margin: 50px;
	text-align: center;
}

.pet-info > img {
	width: 100%;
}

#pet-add {
	padding-top: 0;
}


